/*body,content*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.content {
  max-width: 1152px;
  margin: 0 auto;
  /* background-color: #f2f3f4; */
}

/* header */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 63px;
  margin-bottom: 67px;
}

.nav-logo {
  font-weight: bold;
  font-size: 2rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 35.5px;
}

.nav__link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: #989898;
  text-shadow: 0px 0px 1px #989898;
}
.nav__link_active::after {
  content: "";
  position: absolute;
  display: block;
  width: 45%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000;
}

.nav__link:hover {
  color: #000;
  transition: 0.5s color ease;
}

/* banner */

.banner {
  position: relative;
  background-color: RGBA(255, 225, 189, 0.7);
}

.banner::before {
  position: absolute;
  content: "";
  background-image: url(./images/tree-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
}

.block-with-dash {
  display: flex;
  flex-direction: column;
}

.banner__block-with-dash {
  align-items: center;
  padding-top: 141px;
  padding-bottom: 79px;
}

.title-bold {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
}

.dash {
  width: 57px;
  height: 3px;
  background-color: #000;
  margin-bottom: 27px;
}

.block-with-dash__text {
  font-size: 24px;
  text-shadow: 0px 0px 0.5px #000;
}

.block-with-dash__text_center {
  text-align: center;
}

.button {
  width: 174px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #000;
}

.block-with-dash__button {
  margin-bottom: 108px;
  margin-top: 79px;
}

.button:hover {
  cursor: pointer;
  background-color: #ffe1bd;
  color: #000;
  transition: 0.5s all ease;
}

.slider {
  position: absolute;
}

.banner__slider {
  top: 50%;
  right: 29px;
  transform: translate(0, -50%);
}

.slider__item {
  width: 17px;
  height: 17px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 15px;
}

.slider__item:last-child {
  margin-bottom: 0;
}

.slider__item_active {
  background-color: #000;
}

.slider__item:hover {
  background-color: #000;
}

/*services*/

.services__title {
  margin-top: 86px;
}

.title {
  text-align: center;
  font-weight: 100;
  font-size: 60px;
}

.title-bold_slim {
  font-weight: 400;
  font-size: 30px;
}

.services-kit {
  margin-top: 93px;
}

.services-kit-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(528px, 1fr);
  column-gap: 24px;
  margin-bottom: 95px;
}

.services-kit-item__img {
  width: 100%;
  height: 100%;
}

.services-kit-item__description {
  margin-left: 70px;
}

.services-kit-item:nth-of-type(2) .services-kit-item__description {
  order: -1;
  margin-right: 70px;
  margin-left: 0;
}

.services-kit-item__text {
  font-size: 18px;
  color: #656565;
  font-weight: 300;
  margin-bottom: 48px;
}

.services-kit-button {
  border: 1px solid RGBA(216, 216, 216, 1);
  background-color: #fff;
  color: #000;
}

.services-kit-button:hover {
  border: 1px solid #000;
  background-color: #fff;
}

/* work */

.work__title {
  margin-top: 85px;
  margin-bottom: 99px;
}

.work-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr minmax(2vw, 196px) 1fr;
  gap: 28px;
}
.work-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.work-2 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.work-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.work-4 {
  grid-column: 1/2;
  grid-row: 2/4;
}
.work-5 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.work-6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.work-items-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.work__button {
  margin: 48px auto;
}

/* team */

.team {
  background-color: #ffe1bd;
}

.team__content {
  position: relative;
  max-width: 1152px;
  margin: 0 auto;
}

.team__title {
  padding-top: 87px;
  padding-bottom: 99px;
}

.team-cards {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-bottom: 164px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.team-member:first-child {
  margin-right: 121px;
}

.team-member:nth-of-type(2) {
  margin-right: 94px;
}

.team-member__image {
  width: 172px;
  height: 172px;
  display: block;
  border-radius: 50%;
}

.team-member__block-with-dash {
  align-items: center;
}

.team-member__title-bold {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.team-member__dash {
  margin-bottom: 14px;
  width: 58px;
}

.team-member__text {
  font-size: 18px;
}

.team__slider {
  font-size: 0;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__row {
  display: inline-block;
  margin: 0 15px 0 0;
}

.slider__row:last-child {
  margin-right: 0;
}

.arrow-left-img,
.arrow-right-img {
  display: block;
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
}

.arrow-left-img {
  left: 0;
  transform: rotateY(180deg);
}

.arrow-right-img {
  right: 0;
}

.arrow-left-img:hover {
  background-color: black;
}

/*review*/

.reviews {
  position: relative;
}

.reviews__title {
  margin-top: 84px;
  margin-bottom: 74px;
}

.review-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  justify-content: center;
  margin-bottom: 77px;
}

.reviews__block-with-dash {
  align-items: end;
}

.reviews__title-bold {
  font-size: 40px;
  margin-bottom: 17px;
}

.reviews__dash {
  margin-bottom: 14px;
}

.reviews__text {
  font-size: 18px;
}

.reviews-message {
  font-size: 18px;
  color: #656565;
  flex: 1 1 auto;
}

.reviews-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 140px;
  gap: 2.84%;
  padding-bottom: 192px;
}
.reviews-logo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f4;
}

.reviews__slider {
  font-size: 0;
  bottom: 97px;
  left: 50%;
  transform: translateX(-50%);
}

/* contacts */

.contacts {
  background-color: #000;
}
.contacts__title {
  color: #fff;
  padding-top: 88px;
  padding-bottom: 86px;
}
.contacts-field {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 124px;
  padding-bottom: 101px;
}
.contacts-field address a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10%;
}

address a[href^="mailto:hello@clemocreative.com"] {
  background-image: url(./images/envelope.svg);
  background-repeat: no-repeat;
  background-size: 19px 15px;
  padding-left: 1.7rem;
  background-position: 0 0;
}
address a[href^="tel:+1-670-567-5590"] {
  background-image: url(./images/iphone.svg);
  background-repeat: no-repeat;
  background-size: 14px 19px;
  padding-left: 1.7rem;
  background-position: 0 0;
}
address
  a[href^="23 Mulholland Drive, Suite 721. Los Angeles 10010 100 S. Main S"] {
  background-image: url(./images/pin.svg);
  background-repeat: no-repeat;
  background-size: 14px 18px;
  padding-left: 1.5rem;
  background-position: 0 0;
}

.social-media {
  display: flex;
  gap: 17px;
}

.social-media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #fff;
}

.social-media-button:hover {
  background-color: #ffe1bd;
}

.form {
  width: 465px;
  margin-top: -15px;
}

.name,
.email,
.textarea {
  width: 465px;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: inherit;
  display: block;
  font-size: 100%;
  margin-bottom: 45px;
  color: #ffffff;
}

.name::-moz-placeholder,
.email::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #ffffff;
}

.name::-webkit-input-placeholder,
.email::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.name,
.email,
.textarea:hover,
.name,
.email,
.textarea:focus {
  outline: none;
}

.name,
.email {
  height: 45px;
}

.textarea {
  height: 172px;
}

.form-button {
  background-color: #fff;
  color: #000;
}

.form-button:hover {
  background-color: #ffe1bd;
}

.form-success__msg {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 20px;
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  text-align: start;
  margin-top: 44px;
  margin-bottom: 44px;
}

.footer__text {
  font-size: 16px;
  color: #656565;
}

.footer__text_bold {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.footer__text::before {
  content: "";
  background-image: url(./images/copyright-48_44781.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-left: 24px;
  background-position: 0 0;
}
